* {
	font-family: "Open Sans";
}

body {
	padding: 0px;
	margin: 0px;
	background-image: url("../images/background.jpg");
	background-size: cover;
}

#retour {
	display: flex;
	position: absolute;
	left: 2%;
	top: 4%;
	font-size: 20px;
}

a, a:visited, a:hover {
	color: black;
	text-decoration: none;
}

#retour img {
	margin-right: 5px;
	max-width: 100%;
	max-height: 100%;
}

header{
	height: 25%;
	display: flex;
	justify-content: center;
	background-color: rgb(129, 143, 180, 0.95);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

legend {
	background-color: #FFD28F;
	width: unset;
}

label {
	display: inline-block;
	text-align: right;
}

input {
	border-radius: 0px 10px 10px 0px;
	border-style: solid;
	background-color: #9BB8CD;
	border: 2px #FFFFDD solid;
}

input:focus, input:hover {
	background-color: #818FB4;
	border: 2px #435585 solid;
}

::placeholder {
	color: white;
}