#infos_client, #infos_naissance, #adresse_client, #medecin_referent{
	width: 26%;
	margin: 4px;
	height: 162px;
	flex-basis: 45%;
	border: #FFFDDD 1px solid;
	background-color: #FFFFDD;
	border-radius: 15px;
	text-align: right;
}

#adresse_client, #medecin_referent{
	height: 100px;
}

form {
	flex-direction: row;
	flex-wrap: wrap;
}

#medecin_referent {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center
}


#infos_client label, #adresse_client label {
	margin: 0px 15px 0px 15px;
}

#datenaissance {
	margin-right: 18px;
}

#enregistrer {
	flex-basis: 10%;
	width: 10%;
}